@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #373737;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mobile-width {
  max-width: 768px;
  padding: 0 !important;
}

.header {
  width: 100%;
  height: 400px;
  background: url('./imgs/head_image.jpg') bottom center no-repeat;
  padding: 30px;

  &-content {
    width: 215px;
    color: #fff;

    &__title {
      font-size: 22px;
      font-weight: 700;
      text-shadow: 1px 2px 2px rgba($color: #000000, $alpha: 0.6);
    }

    &__desc {
      font-weight: 100;
      text-shadow: 0 1px 1px rgba($color: #000000, $alpha: 0.4);
    }
    
  }
}

.about-section {
  padding: 30px;
  
  &__sub {
    text-transform: uppercase;
    color: #b9b6b6;
    text-align: center;
    font-size: 13px;
  }

  &__primary, 
  &__left-title {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
  }

  &__left-title {
    text-align: left;
  }

  &__desc {
    font-weight: 100;
    font-size: 14px;
    color: #000000;
  }
}
